#theme-toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.theme-toggle {
    background-color: #000000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.774);
    transition: background-color 0.3s, transform 0.3s;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

.theme-toggle i {
    font-size: 22px;
    color: #fff;
    transition: color 0.3s;
}

body.dark-mode .theme-toggle {
    background-color: #333;
}

body.dark-mode .theme-toggle i {
    color: #fff;

}
